<h1>Rechercher un utilisateur sur github</h1>
<h3>(Le nom doit être correctement écrit)</h3>


<%= form_tag "/recherche", method: "post" do %>
  <input name="barreRecherche" type="text" placeholder="Rechercher un utilisateur"/>
  <button type="submit">Rechercher</button>
<%end %>


<% if (defined? @recherches) && (@recherches.first != nil) %>
  <h4>Vos dernières recherches :</h4>
  <%@recherches.each do |recherche| %>
    <li><a href="/recherche/<%=recherche.nomRecherche %>"><%=recherche.nomRecherche %></a></li>
  <%end %>
<%end %>
