<h1>Les répertoires auxquels <%= @data.data.user.login %> a contribué sont :</h1>

<%if @lang.first != nil%>
  <h3>Top 3 langages les plus utilisés sont :</h3>
  <%while @i<3 do %>
    <%if @lang[@i] != nil %>
      <li><%=@lang[@i].nom %> : <%=@lang[@i].nb %></li>
    <%else %>
      <li>Aucun</li>
    <%end %>
    <%@i=@i+1 %>
  <% end %>
<%end %>

<%if @data.data.user.repositories_contributed_to.nodes.first != nil%>
  <%@data.data.user.repositories_contributed_to.nodes.each do |repertoire| %>
    <h3>Le nom du répertoire est <%=repertoire.name %></h3>
    <p>Les languages utilisés sont :</p>
    <%repertoire.languages.nodes.each do |language| %>
      <li><%=language.name %></li>
    <%end %>
    <% end %>
<%else %>
  <p>Aucun répertoire</p>
<%end %>
